
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
body{
    background-color: #e3f0ff;
    min-height: 100vh;
}
.container{
    display: flex;
    flex-flow: row wrap;
   align-content: space-between;

}



.circulo{
    display: flex;
    flex-flow: row wrap;
    
}


    

   .circulo ul li{
    position: absolute;
    
    right: 430px;
    list-style: none;
    transform: rotate(calc(4.3deg * var(--i)));
    transform-origin: 0 240px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.9em;
    
   } 
   .circulo ul li span{
    color: #FFF;
text-transform: uppercase;
text-shadow: 0 0 15px #8cf207,
0 0 20px #f10c08,
0 0 100px;
}

aside{margin: 300px;}