body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

.botao {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 167px;
  border-radius: 10px;
  background: #fff;

}

.search-box {
  left: 200px;
  position: absolute;
  background: #fff;
  padding: 0px;
  margin: -30px 0px 0px -100px;
}

.search-text {
  background: none;
  border: 2;
  outline: 0;
  font-size: 16px;

}

.logomarca {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

ul.menu {
  list-style: none;
  padding-right: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: -100px;
  color: #fff;
  background: rgb(33, 143, 207);
}

li {
  display: block;
  font-size: 18pt;
  margin: 5px;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
  border-radius: 20%;

}

.menu2 {
  text-decoration: none;
  border: 3px solid #8daf8d41;
  padding: 10px;
  background: #cecece;
  color: #fff;
}

a {
  text-decoration: none;
  color: rgb(7, 5, 5);
  border-radius: 20%;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  transition: all 0.5s ease;
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(57, 136, 68, 0.315);
}

ul li ul li {
  clear: both;
  width: 100%;
}

ul li:hover,
ul li:focus-within {
  background-color: rgb(177, 176, 224);
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  
}

a:hover {
  text-decoration: underline;
  color: coral;
}

ul li:hover>ul,
ul li:focus-within>ul,
ul li ul:hover,
ul li ul:focus{
  visibility: visible;
  opacity: 1;
  display: block;
}





