html,
body {
    width: 100%;
    max-width: 100vw;
    height: 100%;
    margin: 0px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    }

li {
    margin: 0px;
    display: flex;
    padding: 5px;
}


#controls {
    position: fixed;
    width: 550px;
    bottom: 50px;
    top: 0px;
    background:blue;
    height: 33px;
}

button{
    padding:1px;
    margin: 0px;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 10%;
    width: 80px;
    height: 35px;}

#conteudo{
    font-size: 1.7em
}



.conversao {
    margin-left: 180px;
    margin-top: -50px;
}

h3 {
    margin: -90px 0px 0px 200px;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}



.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 4%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav .menu-icon {
    cursor: pointer;
    display: none;
}

nav .logo a {
    font-size: 30px;
    font-weight: bold;
    color: #5654b3;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li {
    padding: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    color: #5654b3;
}

nav ul 
 {
    border: none;
    background-color: #5654b3;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 20px;
    cursor: pointer;
}

main {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-bx {
    width: 40%;
}

.text-bx h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

.text-bx h1 b {
    color: #f1676d;
}

.text-bx p {
    color: #372c62;
    font-weight: 400;
    margin-top: 20px;
}

.text-bx .input-bx {
    margin: 20px 0;
    display: flex;
}

.text-bx .input-bx input {
    width: 60%;
    display: block;
    height: 50px;
    padding: 10px;
    border: none;
    outline: none;
    color: #8997b9;
    font-size: 16px;
}

.text-bx .input-bx input::placeholder {
    color: #8997b9;
}

.text-bx .input-bx button {
    outline: none;
    border: none;
    padding: 10px 20px;
    background-color: #5654b3;
    color: white;
    cursor: pointer;
    font-size: 16pt;
}

.medias-socias {
    margin-top: 30px;
}

.medias-socias a {
    text-decoration: none;
}

.medias-socias i {
    font-size: 23px;
    margin: 0 3px;
    color: white;
    background-color: #372c62;
    padding: 7px;
    border-radius: 5px;
}

.img-bx {
    width: 60%;


}

.img-bx img {
    width: 200%;
    border-radius: 10%;
    border: 3px solid #0cd11c;
    margin-top: 100%;


}

nav ul {
    position: fixed;
    width: 60%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s ease-in;
    background-color: #5654b3;
}

nav ul.active {
    transform: translateX(0);
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    font-size: 18px;
    color: white;
}

nav ul button {
    background-color: #f1676d;
    font-size: 18px;
    margin: 10px;
}

main {
    flex-direction: column;
}

.text-bx,
.img-bx {
    width: 100%;
    text-align: center;
}

.text-bx {}

.text-bx .input-bx {
    justify-content: center;
}



.circulo ul {}

.circulo ul li {
    position: absolute;
    top: 120px;
    right: 430px;
    list-style: none;
    transform: rotate(calc(3.3deg * var(--i)));
    transform-origin: 0 340px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.9em;
}

.circulo ul li span {
    color: #FFF;
    text-transform: uppercase;
    text-shadow: 0 0 15px #8cf207,
        0 0 20px #f10c08,
        0 0 100px;
}

pre {
    margin-top: 50px;
    font-size: 20px;
    

}



.menus {
    position: fixed;
    width: 100%;
background:blue;
left:-0px;
margin-top: -135px;

}


ul.ordem-3 li {
    background-color: #d5e7e9;
    display: inline-block;
    align-items: center;
    align-content: center;
    padding: 5px;
    text-decoration: none;
    transition-duration: 0.5s;
    border: 1px solid black;
    margin:5px;
    border-radius: 10%;
    


}

ul.ordem-3 li a {
    text-decoration: none;
    color: rgb(24, 9, 9);
    text-transform: uppercase;
    text-align: center;
    
}

ul.ordem-3 li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: fixed;
    transition: all 0.5s ease;
    margin: 0;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(92, 1, 240, 0.315);
}


ul.ordem-3 li ul li {
    clear: both;
    width: 100%;
    padding: 0 ;
    margin-top: 3px;
    width: 100px;
    display: block;
    border: none;
}

ul.ordem-3 li:hover,
ul.ordem-3 li:focus-within {
    background-color: rgb(252, 252, 252);
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}



a:hover {
    color: rgb(61, 9, 250);
}

/*controla a exibiçao do dropdown*/

ul.ordem-3 li:hover>ul,
ul.ordem-3 li:focus-within>ul,
ul.ordem-3 li ul:hover,
ul.ordem-3 li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}


    

.ball{
    position: relative;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    border-radius: 50%;
    background-color: #053742;
    transition: left 1s;
}
.ball-move{
    left: calc(100% - 40px);
}
.dark{
    background: #060b0e;
color: white;}


         .row{
            margin: 70px auto;

         }
         b{
            color:blue;
            font-size: 24px;
         }
   
         
/*  style juntado de outro css    */



         body {
            background-image: url(biblia.jpg);
            background-repeat: no-repeat;
            background-size: 100%;
         
         
         
          }
         
          #biblia {
            margin-top: 70px;
            color: blue;
            align-content: 50px;
            text-transform: uppercase;
          }
         
         
          table tr > td {
            
            border: 3px solid rgb(8, 7, 6);
            padding: 0px;
            width: 50%;
            font-size: 16px;
            background: white;
            height: 30px;
          }
          table tr > th{
            background-color: rgb(199, 179, 179);
            font: bold;
            font-size: 20px;
            border: 1px solid rgb(242, 238, 234);
            
          }
         
         
          a:link {
            text-decoration: none;
            border-width: 2px;
            color: rgb(236, 4, 4);
          }
         
          a:hover {
            text-decoration: none;
            border: solid;
            border-width: 2px;
          }         
         
          table.menu {
            margin: -50px 350px;
            text-align: center;
            justify-content: center;
            align-items: center;
            border: 0px solid rgb(43, 4, 238);
            border-spacing: 0px;
            
           
           
          }
         
          td {
            
            text-align: center;
            font-size: 16px;
            justify-content: center;
            align-items: center;
         
          }
         
          
         
          table {
            display: table;
            border-collapse: separate;
            box-sizing: border-box;
            text-indent: initial;
            border-spacing: 2px;
            border-color: gray;
          }
         
          .titulo01 {
            display: block;
            font-size: 2em;
            margin-block-start: 0.67em;
            margin-block-end: 0.67em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
            text-align: center;
            color: blue;
            margin-top: 50px;
          }
         
         
          
         /*botao proxima pagina*/
         
          .css-kw02uy {
           display: -webkit-inline-box;
           display: -webkit-inline-flex;
           display: -ms-inline-flexbox;
           display: inline-flex;
           -webkit-text-decoration: none;
           text-decoration: none;
           color: var(--bol-palette-link-solidColor);}
         
           svg[Attributes] {
             width: 1.5em;
             height: 1.5em;
             stroke-width: 1.5;
             fill: none;
             color: currentcolor;
           }
           
           svg:not(:root) {
               overflow-clip-margin: content-box;
               overflow: hidden;
               overflow-x: ;
               overflow-y: ;}
         
  @media screen and (max-width:670px) {
         
                 table.menu {
                   display: flex;
                   text-align: center;
                   justify-content: center;
                   align-items: center;
                 }

              
                 td {
                   list-style-type: none;
                   border: 3px solid rgb(242, 238, 234);
                   padding: 1px;
                   width: 70px;
                   font-size: 12px;
                   margin-bottom: 50px;
                   background: white;
                   text-align: center;
                   display: table-cell;
                   vertical-align: inherit;
                 }
                 body{
                  background-size: 100% 110%;
                 }
         
                   .titulo01{font-size: 20px;
                     margin-top: 70px;}

                     table.menu {
                        margin: -50px 150px;           
               }

            

               button{
                padding:1px;
                font-size:12px;
                border: 1px solid black;
                border-radius: 10%;
                width: 70px;
                height: 40px;
                margin-left: 1px;
                
                
            }
            .titulo{
              display: none;}
            
            
                pre {
                    margin-top: 110px;
                    font-size: 12px;
            }
            
            .menus {
             top:50px;
            padding:0px;    
            
            margin: auto;
            margin-top: -50px;
            
            }
            
            #controls {
            
            background:blue;
            width: 100%;
            height: 50px; 
            margin: 0px auto;
                    }
                    ul.ordem-3 {
                        padding: 0px;
                        margin-left:-110px;       
             }
            
             b{font-size: 12px;}
            }


            
         
               



         
         
    














            

